<body>
    <link rel="stylesheet" href="home.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="box">
            <img src="../../assets/img/IBM2.png" width="180" alt="" class="box-img">
            <h1>(International Business Machines)</h1>
          <p>Somos una compañia que se dedica a comercializar hardware y software para computadoras, y ofrece servicios de infraestructura, alojamiento de Internet y consultoría en una amplia gama de áreas relacionadas con la informática, desde computadoras centrales hasta nanotecnología, pasando por inteligencia artificial y computación cognitiva.</p>
          <ul>
            <li><a href="https://es-la.facebook.com/IBM/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/IBM?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.ibm.com/mx-es"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
          </ul>
        </div>
</body>
