<body>
    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="../../assets/img/logo.png" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>Inicia sesión</h1>
                <div>Por favor, inicia sesión para ingresar a la plataforma</div>
            </div>
            <form (submit)="login()" class="login-card-form">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" name="email" placeholder="Email" required autofocus>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" name="password" placeholder="Password" required>
                </div>
                <button class="button" type="submit">Iniciar sesión</button>

            </form>
            <div class="login-card-footer">
                ¿No tienes una cuenta? <a href="register">Crea una cuenta gratis aquí</a>.
            </div>
        </div>
        <div class="login-card-social">
            <div class="login-card-social-btn">
            </div>
        </div>
    </div>
</body>