@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0');

body {
    font-family: 'Poppins', sans-serif;
    height: 703px;
    background: linear-gradient(45deg, #2f80ed, #56ccf2);
    background-size: 400% 400%;
    animation: gradient 15s ease-in infinite;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

