<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />
</head>
<body>
    
    <div class="register-card-container">
        <div class="register-card">
            <div class="register-card-logo">
                <img src="../../assets/img/logo.png" alt="logo">
            </div>
            <div class="register-card-header">
                <h1>Registrate aquí</h1>
                <div>Por favor registrate para la plataforma</div>
            </div>
            <form class="register-card-form">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" placeholder="Email" required autofocus>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Password" required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">person</span>
                    <input type="text" placeholder="Name" required autofocus>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">group</span>
                    <input type="text" placeholder="Last name" required autofocus>
                </div>
                <button (click)="test()" type="submit" class="button">Registrate</button>
            </form>
        </div>
    </div>

</body>
</html>